<div *ngIf="item">    
    <div class="row mb-4">
        <div class="col-sm-12">
            <app-tag-form *ngIf="item" (newTagEvent)="updateItem($event)" [currentObject]="item" [formSubmitted]="updateLoading"></app-tag-form>
        </div>
    </div>

    <div class="row mb-4" *ngIf="meta && meta.Id == 6">
        <div class="col-sm-12">
            <div class="btn-group" role="group">
                <button class="btn btn-danger" [btnLoading]="deleteLoading" (click)="deleteTag()">Удалить Тег</button>
                <button class="btn btn-info" (click)="openMoveModal()">Перенести Тег</button>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="meta && meta.MediaListEnable">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-header">
                    <h4>Список роликов</h4>
                    <div class="btn-group" role="group" aria-label="Basic example" *ngIf="meta && meta.MediaListEditable">
                        <button class="btn btn-outline-success" (click)="openModal(CONST.mediasMode.ADD)"><i class="fas fa-plus"></i> Добавить ролики</button>
                        <button class="btn btn-outline-danger" (click)="openModal(CONST.mediasMode.DELETE)"><i class="fas fa-minus"></i> Удалить ролики</button>
                    </div>
                </div>
                <div class="card-body" [appLoading]="loading">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" 
                                        [checked]="checkedCheckboxAll"
                                        (change)="checkAllMedias($event)"
                                    >
                                </th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>ChannelName</th>
                                <th>SectionName</th>
                                <th>StateName</th>
                                <th>ShootDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of searchMedias" [class.table-info]="item.checked">
                                <td class="text-center"><input type="checkbox" 
                                    [checked]="item.checked"
                                    (change)="updateCheckedMedias(item, $event)"
                                ></td>
                                <td>{{item.media.Id}}</td>
                                <td>{{item.media.Name}}</td>
                                <td>{{item.media.ChannelName}}</td>
                                <td>{{item.media.SectionName}}</td>
                                <td>{{item.media.StateName}}</td>
                                <td>{{item.media.ShootDate | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <div class="total-items">Найдено {{searchMediasCount}} элементов</div>
                        <ngb-pagination *ngIf="searchMediasCount"
                            [maxSize]="7" 
                            [rotate]="true" 
                            [collectionSize]="searchMediasCount"
                            size="sm" 
                            (pageChange)="pageChange($event)"
                        ></ngb-pagination>    
                    </div>          
                    <div>
                        <button [class.invisible]="checkedMediasIds.length > 0 ? false : true" class="btn btn-danger" (click)="deleteSelectedMedias()">Удалить отмеченные</button>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>