<div *ngIf="item">  
    <div class="row mb-4">
        <div class="col-sm-12">
            <app-tag-form *ngIf="item" (newTagEvent)="updateItem($event)" [currentObject]="item"></app-tag-form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-header">
                    Список роликов <button class="btn btn-outline-success">Добавить</button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>ChannelName</th>
                                <th>SectionName</th>
                                <th>StateName</th>
                                <th>ShootDate</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let media of medias">
                                <td><input type="checkbox"></td>
                                <td>{{media.Id}}</td>
                                <td>{{media.Name}}</td>
                                <td>{{media.ChannelName}}</td>
                                <td>{{media.SectionName}}</td>
                                <td>{{media.StateName}}</td>
                                <td>{{media.ShootDate | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <ngb-pagination class="d-flex justify-content-end" 
                        [maxSize]="7" 
                        [rotate]="true" 
                        [collectionSize]="totalMediasItems"
                        size="sm" 
                        (pageChange)="pageChange($event)"
                    ></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
