<form  [formGroup]="pathByUrlForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Введите URL для поиска" aria-label="Введите URL для поиска" aria-describedby="basic-addon2" formControlName="url">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Перейти</button>
        </div>
    </div>
</form>

<div *ngIf="error" class="alert alert-danger">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
                {{error}}
            </span>
        </div>
    </div>
</div>

<div *ngIf="item">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    Результат поиска
                </div>
                <div class="card-block">
                    <ul class="list-unstyled">
                        <li>GlobalId = {{item.GlobalId}}</li>
                        <li>Id = {{item.Id}}</li>
                        <li>ObjectId = {{item.ObjectId}}</li>
                        <li>ObjectTypeId = {{item.ObjectTypeId}}</li>
                        <li>ObjectTypeName = {{item.ObjectTypeName}}</li>
                        <li>ParentPathId = {{item.ParentPathId}}</li>
                        <li>ParentPathLatin = {{item.ParentPathLatin}}</li>
                        <li>ParentPathSuffix = {{item.ParentPathSuffix}}</li>
                        <li>PathLatin = {{item.PathLatin}}</li>
                        <li>PathSuffix = {{item.PathSuffix}}</li>
                        <li>SeoNoIndex = {{item.SeoNoIndex}}</li>
                        <li>SeoStatusId = {{item.SeoStatusId}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/path', item.Id]" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>