<form class="clr-form clr-form-horizontal search-form" [formGroup]="tagSearchForm" (ngSubmit)="onSubmit()">
    <div formArrayName="items"
    *ngFor="let item of tagSearchForm.get('items').controls; let i = index;">
      <div [formGroupName]="i">
        <input type="hidden" formControlName="queryOperation">
        <div class="clr-form-control clr-row">
            <div class="clr-control-container clr-col-xs-12 clr-col-md-1 text-center">
                <span *ngIf="i > 0" class="label label-info" (click)="deleteTagSearchItem(i)">{{getCondition(item.get('queryOperation').value)}}</span>
            </div>
            <div class="clr-control-container clr-col-xs-12 clr-col-md-2" [ngClass]="{'clr-error' : controlIsInvalid(item.get('column'))}">
                <div class="select">
                  <select formControlName="column" class="clr-input">
                    <option disabled selected hidden [value]="null">-- select --</option>
                    <option value="1">Id</option>
                    <option value="2">ParentId</option>
                    <option value="4">ParentName</option>
                    <option value="8">Name</option>
                    <option value="16">FullName</option>
                    <option value="32">Description</option>
                    <option value="64">ShootDate</option>
                    <option value="128">PubDate</option>
                    <option value="256">CreateTime</option>
                    <option value="512">UpdateTime</option>
                    <option value="1024">StateId</option>
                    <option value="2048">StateName</option>
                    <option value="4096">Duration</option>
                    <option value="8192">ChannelId</option>
                    <option value="16384">ChannelName</option>
                    <option value="32768">SectionId</option>
                    <option value="65536">SectionName</option>
                    <option value="131072">SeriesId</option>
                    <option value="262144">SeriesName</option>
                    <option value="524288">ObjectId</option>
                    <option value="1048576">GlobalId</option>
                    <option value="8388608">PathId</option>
                    <option value="16777216">PathLatin</option>
                    <option value="33554432">PathSuffix</option>
                    <option value="67108864">ParentPathId</option>
                    <option value="134217728">ParentPathLatin</option>
                    <option value="268435456">ParentPathSuffix</option>
                    <option value="536870912">ObjectTypeId</option>
                    <option value="1073741824">ObjectTypeName</option>
                    <option value="2147483648">SeoTitle</option>
                    <option value="4294967296">SeoDescription</option>
                    <option value="8589934592">SeoKeywords</option>
                    <option value="17179869184">KeyFrameId</option>
                    <option value="34359738368">IconId</option>
                    <option value="68719476736">LogoId</option>
                  </select>                  
                </div>
                <div class="clr-subtext" *ngIf="controlIsInvalid(item.get('column'))">This field is required!</div>
            </div>
            <div class="clr-control-container clr-col-xs-12 clr-col-md-2" [ngClass]="{'clr-error' : controlIsInvalid(item.get('operation'))}">
                <div class="select">
                  <select formControlName="operation" class="clr-input">
                    <option disabled selected hidden [value]="null">-- select --</option>
                    <option value="1">равно</option>
                    <option value="2">больше</option>
                    <option value="3">меньше</option>
                    <option value="4">больше или равно</option>
                    <option value="5">меньше или равно</option>
                    <option value="6">не равно</option>
                    <option value="7">вхождение текста</option>
                    <option value="8">текст не должен входить</option>
                    <option value="9">список значенией</option>
                    <option value="10">исключить список значений</option>
                    <option value="11">в начале текста</option>
                    <option value="12">в конце текста</option>
                    <option value="13">не сначала текста</option>
                    <option value="14">не с конца текста</option>
                  </select>
                </div>
                <div class="clr-subtext" *ngIf="controlIsInvalid(item.get('operation'))">This field is required!</div>
            </div>
            <div class="clr-control-container clr-col-xs-12 clr-col-md-2" [ngClass]="{'clr-error' : controlIsInvalid(item.get('value'))}">
                <input type="text" formControlName="value" placeholder="Value" class="clr-input" />
                <div class="clr-subtext" *ngIf="controlIsInvalid(item.get('value'))">This field is required!</div>
            </div>
        </div>
      </div>
    </div>
    <div class="clr-form-control clr-row">
      <div class="clr-control-container clr-col-xs-12 clr-col-md-1 text-center">
          <clr-dropdown>
              <button type="button" class="btn btn-primary" clrDropdownTrigger>                  
                  <clr-icon shape="plus"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen>
                  <button type="button" clrDropdownItem (click)="addItem(0)">ИЛИ</button>
                  <button type="button" clrDropdownItem (click)="addItem(1)">И</button>
                  <button type="button" clrDropdownItem (click)="addItem(2)">НЕ</button>
              </clr-dropdown-menu>
          </clr-dropdown>
      </div>
    </div>
    <div class="clr-form-control clr-row">
        <div class="clr-control-container clr-col-xs-12 clr-col-md-12 text-center">
          <button [clrLoading]="submitLoading" type="submit" class="btn">Search</button>
        </div>
      </div>
</form>


<clr-datagrid>
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column>SeoNoIndex</clr-dg-column>
    <clr-dg-column>SeoStatusId</clr-dg-column>
    <clr-dg-column>PathId</clr-dg-column>
    <clr-dg-column>PathLatin</clr-dg-column>
    <clr-dg-column>PathSuffix</clr-dg-column>
    <clr-dg-column>ParentPathId</clr-dg-column>
    <clr-dg-column>ParentPathLatin</clr-dg-column>
    <clr-dg-column>ParentPathSuffix</clr-dg-column>

    <clr-dg-row *ngFor="let res of searchResult">
        <clr-dg-cell>{{res.Id}}</clr-dg-cell>
        <clr-dg-cell>{{res.Name}}</clr-dg-cell>
        <clr-dg-cell>{{res.SeoNoIndex}}</clr-dg-cell>
        <clr-dg-cell>{{res.SeoStatusId}}</clr-dg-cell>        
        <clr-dg-cell>{{res.PathId}}</clr-dg-cell>        
        <clr-dg-cell>{{res.PathLatin}}</clr-dg-cell>
        <clr-dg-cell>{{res.PathSuffix}}</clr-dg-cell>
        <clr-dg-cell>{{res.ParentPathId}}</clr-dg-cell>
        <clr-dg-cell>{{res.ParentPathLatin}}</clr-dg-cell>
        <clr-dg-cell>{{res.ParentPathSuffix}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="totalItems" (clrDgPageChange)="pageChange($event)">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>


