<form class="tag-search-form" [formGroup]="tagSearchForm" (ngSubmit)="onSubmit()">

  <div formArrayName="items"
    *ngFor="let item of tagSearchForm.get('items').controls; let i = index;">
    <div [formGroupName]="i" class="form-group" >
      <input formControlName="column" type="text" placeholder="Column">
      <div class="select">
          <select formControlName="operation">
            <option value="1">равно</option>
            <option value="2">больше</option>
            <option value="3">меньше</option>
            <option value="4">больше или равно</option>
            <option value="5">меньше или равно</option>
            <option value="6">не равно</option>
            <option value="7">вхождение текста</option>
            <option value="8">текст не должен входить</option>
            <option value="9">список значенией</option>
            <option value="10">исключить список значений</option>
            <option value="11">в начале текста</option>
            <option value="12">в конце текста</option>
            <option value="13">не сначала текста</option>
            <option value="14">не с конца текста</option>
          </select>
      </div>
      <input formControlName="value" type="text" placeholder="Value">
    </div>
    
  </div>
  <button class="btn" (click)="addItem()" type="button">Добавить условие</button>
  <button [clrLoading]="submitLoading" type="submit" class="btn">Search</button>
</form>


