<div *ngIf="item">
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="form-group">
                Url: https://www.newstube.ru/{{item.Url}}
                    <a href="https://www.newstube.ru/{{item.Url}}" target="_blank">Открыть на newstube.ru</a>
            </div>

            <div class="form-group" *ngIf="isRedirect()">
                Redirect: https://www.newstube.ru/{{item.Redirect.Url}}
                    <a href="https://www.newstube.ru/{{item.Redirect.Url}}" target="_blank">Открыть на newstube.ru</a>
            </div>
            <div class="form-group">
                <label>Объект</label>
                <div>
                    {{item.ObjectTypeName}}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngIf="!isRedirect()" [routerLink]="['/object', item.ObjectTypeId, item.ObjectId]" class="btn btn-outline-primary btn-sm">Редактировать</button>
                        <button class="btn btn-outline-success btn-sm" (click)="openDialog()">Выставить объект</button>
                        <button class="btn btn-outline-warning btn-sm" (click)="openRedirectDialog()">Выставить Redirect</button>
                        <button class="btn btn-outline-danger btn-sm" (click)="deleteObject()">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="isRedirect()">
                <label>Объект Redirect</label>
                <div>
                    {{item.Redirect.ObjectTypeName}}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button [routerLink]="['/object', item.Redirect.ObjectTypeId, item.Redirect.ObjectId]" class="btn btn-outline-primary btn-sm">Редактировать</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Название</label>
                <div>{{isRedirect() ? item.Redirect.Name : item.Name}}</div>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <div>{{isRedirect() ? item.Redirect.Description : item.Description}}</div>
            </div>
            <div *ngIf="!isRedirect()" class="form-group">
                <label>Запрет индексации</label>
                <div>{{item.SeoNoIndex ? 'установлен' : 'не установлен'}}</div>
            </div>

            <div *ngIf="!isRedirect()" class="form-group" [ngClass]="!item.SeoEnable ? 'text-secondary' : ''"><label>Title</label><div>{{item.SeoTitle}}</div></div>
            <div *ngIf="!isRedirect()" class="form-group" [ngClass]="!item.SeoEnable ? 'text-secondary' : ''"><label>Description</label><div>{{item.SeoDescription}}</div></div>
            <div *ngIf="!isRedirect()" class="form-group" [ngClass]="!item.SeoEnable ? 'text-secondary' : ''"><label>Keywords</label><div>{{item.SeoKeywords}}</div></div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12">
                <div class="card card-table">
                        <div class="card-header">
                            <a class="no-line" href="javascript:void(0);" (click)="collapseRedirect = !collapseRedirect"><i class="fas" [ngClass]="collapseRedirect ? 'fa-plus-square' : ' fa-minus-square'"></i> Список редиректов на данный путь</a> 
                        </div>
                        <div class="card-body" [ngbCollapse]="collapseRedirect">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Id</th>
                                        <th>Url</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let red of item.Redirects">      
                                        <td>{{red.Id}}</td>
                                        <td>{{red.Url}}</td>
                                        <td>
                                            <a [routerLink]="['/path', red.PathId]">Edit</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                
        </div>
    </div>  
    
    <div class="row mb-4">
        <div class="col-sm-12">        
            <div class="card card-table">
                <div class="card-header">
                    <a class="no-line" href="javascript:void(0);" (click)="collapsePath = !collapsePath"><i class="fas" [ngClass]="collapsePath ? 'fa-plus-square' : ' fa-minus-square'"></i> Список изменений пути у объекта</a>
                </div>
                <div class="card-body" [ngbCollapse]="collapsePath">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>ObjectTypeName</th>
                                <th>Url</th>
                                <th>Date</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let path of item.HistoryPath">      
                                <td>{{path.Id}}</td>
                                <td>{{path.Item ? path.Item.ObjectTypeName : ''}}</td>
                                <td>{{path.Item ? path.Item.Url : ''}}</td>
                                <td>{{path.CreateTime | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                                <td>
                                    <a *ngIf="path.Item && path.Item.ObjectTypeId == 11" [routerLink]="['/path', path.Item.Id]">Edit</a>
                                    <a *ngIf="path.Item && path.Item.ObjectTypeId != 11" [routerLink]="['/object', path.Item.ObjectTypeId, path.Item.ObjectId]">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
         
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12">

            <div class="card card-table">
                <div class="card-header">
                    <a class="no-line" href="javascript:void(0);" (click)="collapseObject = !collapseObject"><i class="fas" [ngClass]="collapseObject ? 'fa-plus-square' : ' fa-minus-square'"></i> Список изменений объектов у пути</a>
                </div>
                <div class="card-body" [ngbCollapse]="collapseObject">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>ObjectTypeName</th>
                                <th>Url</th>
                                <th>Date</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of item.HistoryObject">      
                                <td>{{obj.Id}}</td>
                                <td>{{obj.Item ? obj.Item.ObjectTypeName : ''}}</td>
                                <td>{{obj.Item ? obj.Item.Url : ''}}</td>
                                <td>{{obj.CreateTime | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                                <td>
                                    <a *ngIf="obj.Item && obj.Item.ObjectTypeId == 11" [routerLink]="['/path', obj.Item.Id]">Edit</a>
                                    <a *ngIf="obj.Item && obj.Item.ObjectTypeId != 11" [routerLink]="['/object', obj.Item.ObjectTypeId, obj.Item.ObjectId]">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>