<div class="autocomplete-wrapper" (click)="input.focus()">
    <a class="badge badge-primary" *ngFor="let tag of tags; let i = index;" href="javascript:void(0)">
        {{tag.title}}
        <i class="fa fa-times"(click)="removeTag(i)"></i>
    </a>
    <input #input type="text" class="no-style" (keyup)="eventHandler($event)" (keydown.backspace)="removeLastTag($event)">
    <input #tagsInput type="hidden">
    <div class="autocomplete-container" *ngIf="aContainerVisible">
        <div *ngIf="searchResults && searchResults.length == 0">Нет результатов</div>
        <div class="autocomplete-item" (click)="addTag(item)" *ngFor="let item of searchResults">{{item.title}}</div> 
    </div>
</div>