<div class="card card-table">
<div class="card-header">
        Результаты поиска
</div>
<div class="card-body">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th sortable-column="1">ID</th>
                <th sortable-column="8">NAME</th>
                <th>URL</th>
                <th *ngIf="!path">Edit Path</th>
                <th *ngIf="!path">Edit Object</th>
                <th *ngIf="path">Set Object</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of items">
                <td>{{res.Id}}</td>
                <td>{{res.Name}}</td>
                <td>{{res.Url}}</td>
                <td *ngIf="!path"><a *ngIf="res.PathId" [routerLink]="['/path', res.PathId]">Path</a></td>
                <td *ngIf="!path"><a [routerLink]="['/object', typeId ? typeId : res.ObjectTypeId, typeId ? res.Id : res.ObjectId]">Object</a></td>
                <td *ngIf="path"><button class="btn btn-primary" (click)="setObject(res)">Выбрать</button></td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="card-footer">
        <app-pagination #pagination [(page)]="currentPage" [itemsPerPage]="10" [totalItems]="totalItems" (goToPage)="pageChange($event)">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} items
        </app-pagination>
    </div>

</div>