<clr-datagrid [clrDgLoading]="loading">
        <clr-dg-column>ID</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'name'">Name</clr-dg-column>
        <clr-dg-column>Url</clr-dg-column>
        <clr-dg-column *ngIf="!path">Edit Path</clr-dg-column>
        <clr-dg-column *ngIf="!path">Edit Object</clr-dg-column>
        <clr-dg-column *ngIf="path">Set Object</clr-dg-column>
    
        <clr-dg-placeholder>Ничего не найдено</clr-dg-placeholder>
    
        <clr-dg-row *ngFor="let res of items">
            <clr-dg-cell>{{res.Id}}</clr-dg-cell>
            <clr-dg-cell>{{res.Name}}</clr-dg-cell>
            <clr-dg-cell>{{res.Url}}</clr-dg-cell>
            <clr-dg-cell *ngIf="!path"><a *ngIf="res.PathId" [routerLink]="['/path', res.PathId]">Path</a></clr-dg-cell>
            <clr-dg-cell *ngIf="!path"><a [routerLink]="['/object', typeId ? typeId : res.ObjectTypeId, typeId ? res.Id : res.ObjectId]">Object</a></clr-dg-cell>
            <clr-dg-cell *ngIf="path"><button class="btn btn-primary" (click)="setObject(res)">Выбрать</button></clr-dg-cell>
        </clr-dg-row>
    
        <clr-dg-footer *ngIf="totalItems">
            <app-pagination #pagination [(page)]="currentPage" [itemsPerPage]="10" [totalItems]="totalItems" (goToPage)="pageChange($event)">
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} items
            </app-pagination>
        </clr-dg-footer>
    </clr-datagrid>