<div id="messages" class="messages" style="position: absolute; display: block; width: 100%; padding: 0 20px;">
    <div *ngFor="let alert of alerts" class="alert" [ngClass]="cssClass(alert)">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{alert.message}}
                </span>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" *ngIf="!alert.timeout">
            <clr-icon aria-hidden="true" shape="close" (click)="removeAlert(alert)"></clr-icon>
        </button>
    </div>
</div>



