<form [formGroup]="tagForm" (ngSubmit)="submitForm(tagForm)">

    <div class="form-group">
        <label>Url <a *ngIf="currentObject && currentObject.PathId" [routerLink]="['/path', currentObject.PathId]" class="btn btn-outline-primary btn-sm" title="Редактировать">Редактировать</a></label>
        <table>
            <tr class="mb-1">
                <td>https://newstube.ru/</td>
                <td>
                    <select class="form-control" formControlName="{{controlProperty('ParentPathId')}}">
                        <option *ngFor="let p of parents" [value]="p.Id">{{p.PathLatin}}</option>
                    </select>
                </td>
                <td>/</td>
                <td><input type="text" class="form-control simple" formControlName="{{controlProperty('PathLatin')}}" [ngClass]="{'is-invalid' : controlIsInvalid('PathLatin')}"></td>
                <td>{{tagForm.get('PathSuffix').value && tagForm.get('PathSuffix').value > 1 ? '--'+tagForm.get('PathSuffix').value : ''}}{{!tagForm.get('PathId').value ? '--*  (ближайший свободный)' : ''}}</td>
                <td><a *ngIf="currentObject && tagForm.get('PathId').value && currentObject.Url" href="http://newstube.ru/{{currentObject.Url}}" target="_blank">Открыть на newstube.ru <i class="fas fa-external-link-alt"></i></a></td>
            </tr>
            <tr class="mb-1">
                <td colspan="3"></td>
                <td class="form-check label-first mb-0">
                    <label class="form-check-label" for="{{controlProperty('GenerateLatin')}}">{{controlLabel('GenerateLatin')}}</label>
                    <input type="checkbox" class="form-check-input label-first" id="{{controlProperty('GenerateLatin')}}" formControlName="{{controlProperty('GenerateLatin')}}" [ngClass]="{'is-invalid' : controlIsInvalid('GenerateLatin')}"  >
                </td>
                <td colspan="2"></td>
            </tr>
            <tr class="mb-1">
                <td colspan="3"></td>
                <td><button type="button" class="btn btn-outline-secondary btn-sm">Выбрать путь размещения</button></td>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <label>{{controlLabel('Name')}}</label>
        <input type="text" class="form-control" formControlName="{{controlProperty('Name')}}" [ngClass]="{'is-invalid' : controlIsInvalid('Name')}">
        <div class="invalid-feedback" *ngIf="controlIsInvalid('Name')">{{controlValidationMessage('Name')}}</div>
    </div>

    <div class="form-group">
        <label>{{controlLabel('Description')}}</label>
        <textarea rows="3" class="form-control" formControlName="{{controlProperty('Description')}}" [ngClass]="{'is-invalid' : controlIsInvalid('Description')}"></textarea>
        <div class="invalid-feedback" *ngIf="controlIsInvalid('Description')">{{controlValidationMessage('Description')}}</div>
    </div>

    <div class="form-check label-first">
        <label class="form-check-label" for="{{controlProperty('SeoNoIndex')}}">{{controlLabel('SeoNoIndex')}}</label>
        <input type="checkbox" class="form-check-input" id="{{controlProperty('SeoNoIndex')}}" formControlName="{{controlProperty('SeoNoIndex')}}" [ngClass]="{'is-invalid' : controlIsInvalid('SeoNoIndex')}"  >
        <div class="invalid-feedback" *ngIf="controlIsInvalid('SeoNoIndex')">{{controlValidationMessage('SeoNoIndex')}}</div>
    </div>

    <div class="form-check label-first">
        <label class="form-check-label" for="{{controlProperty('SeoEnable')}}">{{controlLabel('SeoEnable')}}</label>
        <input type="checkbox" class="form-check-input" id="{{controlProperty('SeoEnable')}}" formControlName="{{controlProperty('SeoEnable')}}" [ngClass]="{'is-invalid' : controlIsInvalid('SeoEnable')}"  >
        <div class="invalid-feedback" *ngIf="controlIsInvalid('SeoEnable')">{{controlValidationMessage('SeoEnable')}}</div>
    </div>


    <div class="form-group">
        <label>{{controlLabel('SeoTitle')}}</label>
        <input type="text" class="form-control" formControlName="{{controlProperty('SeoTitle')}}" [ngClass]="{'is-invalid' : controlIsInvalid('SeoTitle')}">
        <div class="invalid-feedback" *ngIf="controlIsInvalid('SeoTitle')">{{controlValidationMessage('SeoTitle')}}</div>
    </div>

    <div class="form-group">
        <label>{{controlLabel('SeoDescription')}}</label>
        <textarea rows="3" class="form-control" formControlName="{{controlProperty('SeoDescription')}}" [ngClass]="{'is-invalid' : controlIsInvalid('SeoDescription')}"></textarea>
        <div class="invalid-feedback" *ngIf="controlIsInvalid('SeoDescription')">{{controlValidationMessage('SeoDescription')}}</div>
    </div>

    <div class="form-group">
        <label>{{controlLabel('SeoKeywords')}}</label>
        <input type="text" class="form-control" formControlName="{{controlProperty('SeoKeywords')}}" [ngClass]="{'is-invalid' : controlIsInvalid('SeoKeywords')}">
        <div class="invalid-feedback" *ngIf="controlIsInvalid('SeoKeywords')">{{controlValidationMessage('SeoKeywords')}}</div>
    </div>

<!--
    <ng-container *ngFor="let control of tagForm.tagControls">
        <ng-container [ngSwitch]="control.type">
            <div class="form-group" *ngSwitchCase="0">
                <label>{{control.label}}</label>
                <input *ngSwitchCase="0" type="text" class="form-control" formControlName="{{control.modelProperty}}" [ngClass]="{'is-invalid' : control.isValid}">
                <div class="invalid-feedback" *ngIf="control.isValid">{{control.getValidationLastMessage()}}</div>
            </div>
            <div class="form-group" *ngSwitchCase="1">
                <label>{{control.label}}</label>
                <textarea *ngSwitchCase="1" rows="2" class="form-control" formControlName="{{control.modelProperty}}" [ngClass]="{'is-invalid' : control.isValid}"></textarea>
                <div class="invalid-feedback" *ngIf="control.isValid">{{control.getValidationLastMessage()}}</div>
            </div>
            <div class="form-check label-first" *ngSwitchCase="2">
                <label class="form-check-label" for="{{control.modelProperty}}">{{control.label}}</label>
                <input type="checkbox" class="form-check-input" id="{{control.modelProperty}}" formControlName="{{control.modelProperty}}" [ngClass]="{'is-invalid' : control.isValid}"  >
                <div class="invalid-feedback" *ngIf="control.isValid">{{control.getValidationLastMessage()}}</div>
            </div>
        </ng-container>
    </ng-container>
-->

    <button type="submit" class="btn btn-primary" [disabled]="formSubmitted">{{currentObject ? 'Обновить' : 'Создать'}}</button>
</form>