<form [formGroup]="tagForm" (ngSubmit)="submitForm(tagForm)">
    <ng-container *ngFor="let control of tagForm.tagControls">
        <ng-container [ngSwitch]="control.type">
            <div class="form-group" *ngSwitchCase="0">
                <label>{{control.label}}</label>
                <input *ngSwitchCase="0" type="text" class="form-control" formControlName="{{control.modelProperty}}" [ngClass]="{'is-invalid' : control.isValid}">
                <div class="invalid-feedback" *ngIf="control.isValid">{{control.getValidationLastMessage()}}</div>
            </div>

            <div class="form-group" *ngSwitchCase="1">
                <label>{{control.label}}</label>
                <textarea *ngSwitchCase="1" rows="2" class="form-control" formControlName="{{control.modelProperty}}" [ngClass]="{'is-invalid' : control.isValid}"></textarea>
                <div class="invalid-feedback" *ngIf="control.isValid">{{control.getValidationLastMessage()}}</div>
            </div>
            <div class="form-check" *ngSwitchCase="2">
                <input type="checkbox" class="form-check-input" id="{{control.modelProperty}}" formControlName="{{control.modelProperty}}" [ngClass]="{'is-invalid' : control.isValid}"  >
                <label class="form-check-label" for="{{control.modelProperty}}">{{control.modelProperty}}</label>
                <div class="invalid-feedback" *ngIf="control.isValid">{{control.getValidationLastMessage()}}</div>
            </div>
        </ng-container>
    </ng-container>

    <button type="submit" class="btn btn-primary" [disabled]="formSubmitted">{{currentObject ? 'Update' : 'Create'}}</button>
</form>