<div class="login-form-wrapper">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 font-weight-normal">NEWSTUBE</h1>
        <div class="form-group">            
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control mb-3" placeholder="Username" autofocus formControlName="username">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" formControlName="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit" [btnLoading]="submitLoading"><span></span>Вход</button>            
        </div>
        <div *ngIf="loginError" @error class="alert alert-danger" role="alert">
            Invalid user name or password
        </div>
    </form>
</div>