<div [formGroup]="subForm" *ngIf="meta"> 
    <input type="hidden" formControlName="queryOperation">
    
    <div class="row">
                
        <div class="form-group col-md-4">
                <select formControlName="column" class="form-control" [ngClass]="{'is-invalid' : controlIsInvalid('column')}" (change)="onChangeColumn($event.target.value)">
                    <option disabled selected hidden [value]="null">-- select --</option>
                    <option *ngFor="let c of getColumns();" [value]="c.id">{{c.name}}</option>
                </select>                  
            <div class="invalid-feedback" *ngIf="controlIsInvalid('column')">{{getControlErrorMessage('column')}}</div>
        </div>
        
        <div *ngIf="selectedColumn" class="form-group col-md-4">

                <select formControlName="operation" class="form-control" [ngClass]="{'is-invalid' : controlIsInvalid('operation')}" (change)="onChangeOperation($event.target.value)">
                    <option disabled selected hidden [value]="null">-- select --</option>
                    <option *ngFor="let o of getOperations(selectedColumn);" [value]="o.id">{{o.name}}</option>
                </select>
            <div class="invalid-feedback" *ngIf="controlIsInvalid('operation')">{{getControlErrorMessage('operation')}}</div>
        </div>
        
        <div *ngIf="selectedColumn" class="form-group col-md-4">

            <select *ngIf="getColumnValues()" formControlName="value" class="form-control" [ngClass]="{'is-invalid' : controlIsInvalid('value')}">
                <option disabled selected hidden [value]="null">-- select --</option>
                <option *ngFor="let v of getColumnValues();" [value]="v.Key">{{v.Value}}</option>
            </select>

            <app-test *ngIf="isAutocomplete()" formControlName="value" class="autocomplete form-control" [ngClass]="{'is-invalid' : controlIsInvalid('value')}"
                [multiValue]="true" 
                [typeId]="metaColumn.ValueObjectType"
            ></app-test>

            <dtpicker *ngIf="isDateTime()" formControlName="value" class="datetimepicker form-control" dtTemplate="DD.MM.YYYY HH:mm" [ngClass]="{'is-invalid' : controlIsInvalid('value')}"></dtpicker>
            
            <input *ngIf="!(getColumnValues() || isAutocomplete() || isDateTime() )" type="text" formControlName="value" placeholder="Value" class="form-control" [ngClass]="{'is-invalid' : controlIsInvalid('value')}" />

            <div class="invalid-feedback" *ngIf="controlIsInvalid('value')">
                {{getControlErrorMessage('value')}}
            </div>
        </div>
        
    </div>
    
</div>