<div class="modal-header">
    <h4 id="modal-set-object">Выберите ролики</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <search-form 
        (pushQuery)="onQuery($event)" 
        [(loading)]="loading"
        [firstQuery]="searchQuery"
    ></search-form>

    <div class="card card-table">
        <div class="card-body">
            <table class="table table-bordered" [appLoading]="loading">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th sortable-column="8" [sort-direction]="getDirection(8)">Название</th>
                        <th sortable-column="32" [sort-direction]="getDirection(32)">Описание</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of searchResult">
                        <td>{{res.Id}}</td>
                        <td>{{res.Name}}</td>
                        <td>{{res.Description}}</td>
                        <td>{{res.Url}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <ngb-pagination class="d-flex justify-content-end" 
                [maxSize]="7" 
                [rotate]="true" 
                [collectionSize]="searchItemsResult" 
                [(page)]="currentPage" 
                size="sm" 
                (pageChange)="onPageChange($event)"
            ></ngb-pagination>
        </div>
    </div>
</div>