
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

$font-size-base: .9rem;
$font-weight-bold: 700;

$dark: #002538; 
$primary: #0079b8;

$input-btn-padding-y: .25rem;
$input-btn-padding-x: .55rem;

$dropdown-item-padding-y: .2rem;
$dropdown-item-padding-x: .9rem;

$table-cell-padding: .4rem;
$table-dark-bg: #fafafa;
$table-dark-color: #565656;
$table-dark-border-color: #ccc;
$table-border-color: #ccc;

$badge-padding-y: .4em;
$badge-padding-x: .4em;
@import "~bootstrap/scss/bootstrap.scss";

.tabs-body{
    padding: 1.5rem;
}

.card-table .card-body {
    padding: 0;
}

.card-table .card-body table{
    margin-bottom: 0;
}

.card-table .pagination {
    margin-bottom: 0;
}
/* autocomplete component */
.autocomplete {
    height: auto;
    cursor: text;
    &:focus-within{
        @extend .form-control:focus;
    }
    input[type=text] {
        border: none;
    }
    input[type=text]:focus {
        outline: none;
    }
    .badge {
        margin-right: .5rem;
    }
}

/* fix text */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* login form */
.login-form-wrapper {
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    justify-content:center;
    margin: auto;
    width: 21rem;
    
    .form-signin{
        -ms-flex-pack:center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 2.5rem;

        .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
    }
}

/* loader spinner */
.loader-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spinner-color($color) {
    border-top-color: transparent;
    border-right-color: $color;
    border-bottom-color: $color;
    border-left-color: $color;
}

@mixin spinner-size($size) {
    min-height: $size;
    min-width: $size;
    height: $size;
    width: $size;
    border-width: $size / 7;
}

.loader {
    @include spinner-color($primary);
    border-style: solid;
    border-radius: 50%;
    display: block;
    animation: spin 1s linear infinite;
    
    &.loader-20 {
        @include spinner-size(20px);
    }
    &.loader-60 {
        @include spinner-size(60px);
    }
    &.loader-inverse{
        @include spinner-color($light);
    }
}

span.loader {
    display: inline-block;
    vertical-align: text-bottom;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* datepicker component */
.datetimepicker.form-control {
    padding: 0 5px;    
    display: flex;
    height: auto;
    &:focus-within{
        @extend .form-control:focus;
    }
    input{
        border: none;
        border-radius: 0;
        color: #495057;
    }
    input:focus {
        outline: none;
        box-shadow: none;
    }
    input.date{
        width: 6em;
    }
    .ngb-tp-input-container {
        width: 2em;
        input{
            padding: 0 2px;            
        }
    }
    .ngb-tp-spacer {
        width: 0.5em;
    }
}

.invalid-feedback{
    display: block;
}

.no-line {
    &:hover {
        text-decoration: none;
    }
    text-decoration: none;
}

.form-check {
    @extend .form-group;
}

.form-group{
    label {
        font-weight: bold;
    }
}

.form-check.label-first{
    padding-left: 0;
    .form-check-input {
        margin-left: .3rem;
    }
}

.form-control.simple {
    display: inline;
    width: auto;
}

.messages {
    position: fixed; 
    padding: 0 20px; 
    z-index: 2000; 
    top: 0;
    width: 100%;
    margin-top: 1rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 60px;
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    bottom: 0;
    background-color: #f5f5f5;
}
.total-items {
    padding: 0 10px;
    line-height: 1.8;
}