.tabs-body{
    padding: 1.5rem;
}

.card-table .card-body {
    padding: 0;
}

.card-table .card-body table{
    margin-bottom: 0;
}

.card-table .pagination {
    margin-bottom: 0;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.login-form-wrapper {
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    justify-content:center;
    margin: auto;
    width: 21rem;
}

.login-form-wrapper .login-form{
    -ms-flex-pack:center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2.5rem;
    
}

.login-form-wrapper .login-form .form-group {
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    flex-direction:column;
    padding:1.5rem 0 0 0;
    text-align: left;
}

.login-form-wrapper .login-form .title {
    text-align: center;
    color: #000;
    font-size: 1.33333rem;
    line-height: 1.7rem;
}

.login-form-wrapper .login-form .form-group .btn,
.login-form-wrapper .login-form .form-group .username,
.login-form-wrapper .login-form .form-group .password{
    margin: .25rem 0 .75rem 0;
    max-width: none;
}

.login-form-wrapper .login-form .form-group .error+.btn{
    margin:1rem 0 0 0
}

.login-form-wrapper .login-form .form-group .error.active {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.login-form-wrapper .login-form .form-group .error {
    display: none;
    margin: .25rem 0 0 0;
    padding: .375rem .5rem;
    background: #c92100;
    color: #fafafa;
    border-radius: .125rem;
    line-height: .75rem;
}

.form-group .btn span{
    margin-top: 0;
    margin-bottom: 0;
}

.datagrid-body {
    min-height: 1rem;
}

.path-search-form input {
    width: 100%;
}

.datagrid-foot-description{
    justify-content: flex-end;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

/*
.search-form .clr-control-container .select, .search-form .clr-control-container input {
    width: 100%;
}

.search-form .clr-control-container button {
    width: 100%;
    margin-top: 20px;
}

.search-form .form-group{
    padding-left: 0;
}

.search-form .form-group input[type=text]{
    margin-top: 7px;
}
.path-search-form .form-group button{
    max-width: 100px;
}
*/

.autocomplete-wrapper{
    background:linear-gradient(to bottom,transparent 95%,#0094d2 95%) no-repeat;
    background-size:0 100%;
    transition:background-size .2s ease;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 2px;
    position: relative;
    cursor: text;
}

.autocomplete-wrapper:focus-within{
    border-bottom: 1px solid #0094d2;
    background-size:100% 100%;
}

.autocomplete-container {
    width: 100%;
    position: absolute;
    min-height: 50px;
    max-height: 200px;
    margin-top: 5px;
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: .125rem;
    box-shadow: 0 1px 0.125rem rgba(115,115,115,.25);
    padding: .5rem 0;
    overflow-y: scroll;
}

.autocomplete-item {
    color: #565656;
    text-align: left;
    cursor: pointer;
    display: block;
    line-height: inherit;
    margin: 0;
    width: 100%;
    text-transform: none;
    padding: .125rem 1rem;
    background: none;
    border: none;
}

.autocomplete-item:hover {
    background-color:#eee;
}
.autocomplete-item:active{
    box-shadow:none;
    outline: none;
    border: none;
}

.no-style, .no-style:focus{
    border: none !important;
    background: none !important;
    transition: none !important;
}

.label-nopadding{
    padding-right: 3px;
}

.label-nopadding clr-icon{
    cursor: pointer;
}