.login-form-wrapper {
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    justify-content:center;
    margin: auto;
    width: 21rem;
}

.login-form-wrapper .login-form{
    -ms-flex-pack:center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2.5rem;
    
}

.login-form-wrapper .login-form .form-group {
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    flex-direction:column;
    padding:1.5rem 0 0 0;
    text-align: left;
}

.login-form-wrapper .login-form .title {
    text-align: center;
    color: #000;
    font-size: 1.33333rem;
    line-height: 1.7rem;
}

.login-form-wrapper .login-form .form-group .btn,
.login-form-wrapper .login-form .form-group .username,
.login-form-wrapper .login-form .form-group .password{
    margin: .25rem 0 .75rem 0;
    max-width: none;
}

.login-form-wrapper .login-form .form-group .error+.btn{
    margin:1rem 0 0 0
}

.login-form-wrapper .login-form .form-group .error.active {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.login-form-wrapper .login-form .form-group .error {
    display: none;
    margin: .25rem 0 0 0;
    padding: .375rem .5rem;
    background: #c92100;
    color: #fafafa;
    border-radius: .125rem;
    line-height: .75rem;
}

.form-group .btn span{
    margin-top: 0;
    margin-bottom: 0;
}

.path-search-form .form-group{
    padding-left: 0;
}

.path-search-form .form-group input{
    width: 50%;
}
.path-search-form .form-group button{
    max-width: 100px;
}