<ul class="nav">
  <li class="nav-item"><a routerLink="/search/path" routerLinkActive="active" class="nav-link">Путь</a></li>
  <li class="nav-item"><a routerLink="/search/dashboard" routerLinkActive="active" class="nav-link">Канал</a></li>
  <li class="nav-item"><a routerLink="/search/media" routerLinkActive="active" class="nav-link">Ролик</a></li>
  <li class="nav-item"><a routerLink="/search/person" routerLinkActive="active" class="nav-link">Персона</a></li>
  <li class="nav-item"><a routerLink="/search/section" routerLinkActive="active" class="nav-link">Раздел</a></li>
  <li class="nav-item"><a routerLink="/search/series" routerLinkActive="active" class="nav-link">Передача</a></li>
  <li class="nav-item"><a routerLink="/search/tag" routerLinkActive="active" class="nav-link">Тег</a></li>
</ul>