<ul class="nav">
  <!-- <li class="nav-item"><a routerLink="path" routerLinkActive="active" class="nav-link">Путь</a></li> -->
  <li class="nav-item"><a routerLink="media" routerLinkActive="active" class="nav-link">Ролик</a></li>
  <li class="nav-item"><a routerLink="person" routerLinkActive="active" class="nav-link">Персона</a></li>
  <li class="nav-item"><a routerLink="section" routerLinkActive="active" class="nav-link">Раздел</a></li>
  <li class="nav-item"><a routerLink="series" routerLinkActive="active" class="nav-link">Передача</a></li>
  <li class="nav-item"><a routerLink="tag" routerLinkActive="active" class="nav-link">Тег</a></li>
  <li class="nav-item"><a routerLink="theme" routerLinkActive="active" class="nav-link">Тема</a></li>
  <li class="nav-item"><a routerLink="channel" routerLinkActive="active" class="nav-link">Канал</a></li>
</ul>