
<nav class="navbar navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/">UrlApi</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a routerLink="/search" routerLinkActive="active" class="nav-item nav-link">Поиск</a>
          <a routerLink="/createtag" routerLinkActive="active" class="nav-item nav-link ">Создать тег</a> 
          <a routerLink="/movetags" routerLinkActive="active" class="nav-item nav-link ">Перенос тегов</a> 
          <a routerLink="/batch-redirect" [queryParams]="{ typeId: 0 }" routerLinkActive="active" class="nav-item nav-link ">Пакетная обработка</a> 
        </div>
      </div>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
          <a *ngIf="!authService.isAuthenticated()" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Вход</a>  
          <a *ngIf="authService.isAuthenticated()" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">{{ authService.username }} Выход</a> 
        </div>
      </div>
    </div>
</nav>