<div (click)="input.focus()" class="">
    <a class="badge badge-primary" *ngFor="let tag of tags; let i = index;" href="javascript:void(0)">
        {{tag.title}}
        <i class="fa fa-times"(click)="removeTag(i)"></i>
    </a>
    <input #input type="text" (keyup)="handleKeyUp($event)" (keydown)="handleKeyDown($event)">
    <input #tagInput type="hidden">
    <autocomplete-window #awindow
        *ngIf="aContainerVisible"
        [loading]="loadingResults"
        [searchResults]="searchResults"
        (selectEvent)="addTag($event)"
        (clickOutside)="closeWindow($event)"
    ></autocomplete-window>
    <!--<div class="dropdown-menu show" *ngIf="aContainerVisible">
        <div *ngIf="searchResults && searchResults.length == 0">Нет результатов</div>
        <button class="dropdown-item" *ngFor="let item of searchResults; let i = index"
            (click)="addTag(item)"
            [id]="'id-' + i"
            [class.active]="i === activeIdx"
            (mouseenter)="markActive(i)"
        >{{item.title}}</button>
    </div>-->
 
</div>